[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DaliBradai
[access "refs/for/refs/*"]
	read = group user/DaliBradai
	push = group user/DaliBradai
	label-Code-Review = -2..+2 group user/DaliBradai
	label-Verified = -1..+1 group user/DaliBradai
	rebase = group user/DaliBradai
	removeReviewer = group user/DaliBradai
	submit = group user/DaliBradai
[access "refs/heads/*"]
	read = group user/DaliBradai
	create = group user/DaliBradai
	push = +force group user/DaliBradai
	pushMerge = group user/DaliBradai
[access "refs/tags/*"]
	push = +force group user/DaliBradai
	pushTag = group user/DaliBradai
	pushSignedTag = group user/DaliBradai
